body{
    background-color: black;
    font-family: september, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.jumbotron{
    background-color: #d6d6d6;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: block;
}

h1 {
    color: #828282;
    padding-bottom: 25px;
}

h2{
    color: #fff;
}

p{
    color: #fff;
}

.center {
    text-align: center;

}

.username {
    width: 80%;
    border: #828282;
}

.username::placeholder{
    padding-left: 3px;
    color:#888585;
}

.sub{
    border: none;
    margin-top: 35px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #828282;
    color: #d6d6d6;
    font-size: 25px;
    border-radius: 30px;
    
}


#scissor{
    display: inline;
    width: 300px;
}

#paper{
    display: inline;
    width: 300px;
}

#rock{
   display: inline;
   width: 300px;
}


.space{
    margin-top: 50px;
}

